argcomplete==3.6.3
attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
cryptography==46.0.7
dbus-python==1.4.0
filelock==3.26.0
libtorrent==2.0.12
nftables==0.1
packaging==26.0
psutil==7.2.2
pwquality==1.4.5
pycparser==3.0
pygdbmi==0.11.0.0
PyGObject==3.56.2
ranger-fm==1.9.4
Reflector==2023.6.28.0.36.1
sentry-sdk==2.57.0
smbus==1.1
TBB==0.2
urllib3==2.6.3
urwid==4.0.0
wcwidth==0.6.0
wheel==0.46.3
